In [1]:
import pandas as pd
import numpy as np

In [2]:
# loading data for selected year and adding the "year"column

data_list = []

for year in range(2019, 2024):
    filename = f'/Users/Admin/Desktop/Data analytic/practice/archive/WHR_{year}.csv'
    data = pd.read_csv(filename)
    data['year'] = year
    data_list.append(data)

In [3]:
# combining all data in one table

all_data = pd.concat(data_list, ignore_index = True)

In [4]:
# check for null value

all_data.isnull().sum()

country                         0
region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         1
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       0
year                            0
dtype: int64

In [5]:
# find row with the null value

all_data.loc[(all_data['healthy_life_expectancy'].isnull())]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
702,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023

In [6]:
# find all data for State of Palestine, but State of Palestine only have data only in year 2023

find_country = 'State of Palestine' 
all_data.loc[all_data['country'] == find_country]

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
702,State of Palestine,Middle East and North Africa,4.908,1.144,1.309,NaN,0.416,0.065,0.067,2023

In [7]:
# check for duplicate

all_data.duplicated().sum()

0

In [8]:
all_data.to_csv('WHR_2019-2023.csv', index=False)

In [9]:
all_data.head(5)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Finland,Western Europe,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,Denmark,Western Europe,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,Norway,Western Europe,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,Iceland,Western Europe,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,Netherlands,Western Europe,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019